.header-container {
	font-family: "Pixelify Sans", "Helvetica", sans-serif;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	padding: 1em;
  color: red;
}

.header-container .header-title {
	font-size: 3rem;
	cursor: pointer;
	text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

.header-title span {
	color: rgb(242, 243, 244);
}

.header-container .header-description {
	font-size: 1.1rem;
	text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
	color: rgb(242, 243, 244);
}

